 * {
    margin: 0;
 }

html, body {
	height: 100%;
	font-size:20px;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: white;
    font-family: 'Source Sans Pro';
    margin: 0 auto;
}

body {
    width: 50%;
}


a {
	text-decoration: none;
	color: black;
}

.Title {
	font-size: 3.2em;
    color: black;
    font-weight: bold;
	text-align: left;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0 auto;
    margin-left: -5px;
}

.subtitle {
    text-align: left;
    padding-bottom: 15px;
    font-size: 1em;
    font-weight: 300;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.Button {
    width: 125px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px 15px 15px 0px;
	text-align: center;
	font-size: 0.7em;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: lightgray;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: 0.18s;
}

.Button:hover {
    background-color: #a8a8a8;
    display: block;
    text-decoration: none;
    color: lightgray;
}

.turnoff {
    opacity: 0.5;
    background-color: rgba(120,0,0,0.8);
    color: white;

}

.turnoff:hover {
    opacity: 1;
    background-color: rgba(120,0,0,1);
    color: black;
}

.color {
	width: 100%;
}

.Range {
	width: 100%;
}